.dot {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  border-color: black;
  z-index: 10;
}

.dots {
  display: grid;
  height: 20px;
  width: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center; /* Center dots within each grid cell */
}
