

.hand-inner {
    display: flex;
    flex-direction:row;
     max-width: 100%;    
    flex-wrap: wrap; 
     padding: 10px;     
     position: fixed;
     right: 0px;
     left: 0px;
     
     display: flex;
     flex-direction:row;
     align-items: center;
     background-image: url(/walnut.png);
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
}

div > * {
    display: block;
    margin: 10px; 
} 

