<div
  class="hand-inner"
  [style.top]="isComputer ? '0px' : 'auto'"
  [style.bottom]="!isComputer ? '0px' : 'auto'"
>
  <domino [values]="[0, 0]" [hidden]="isComputer" />
  <domino [values]="[1, 1]" [hidden]="isComputer" />
  <domino [values]="[2, 2]" [hidden]="isComputer" />
  <domino [values]="[3, 3]" [hidden]="isComputer" />
  <domino [values]="[4, 4]" [hidden]="isComputer" />
  <domino [values]="[5, 5]" [hidden]="isComputer" />
  <domino [values]="[6, 6]" [hidden]="isComputer" />
  <ng-container #handContainer></ng-container>
</div>
